@page
@model PizzaByMansi.Pages.ContactModel
@{
}

<hr style="color: slategrey">
<div class="row">
    <div class="col-lg-6 col-sm-12 text-center contact-marg">
        <p1 class="contacts">
            Location: <a href="https://www.google.com/maps/place/NY+Style+Deli+and+Pizza+by+Mansi/@@34.1129569,-84.5537856,18z/data=!4m5!3m4!1s0x88f56bda8ac4f2b5:0xdfd96a52df963dad!8m2!3d34.1129897!4d-84.5525648" class="contacts-link">2340 Towne Lake Pkwy Woodstock, GA 30189</a><br>
            Number: <a href="tel:6784267004" class="contacts-link">678-426-7004</a><br>
            Email: dude get an email<br>
            Facebook: <a href="http://www.facebook.com/NY-Style-Deli-and-Pizza-by-Mansi-Woodstock-GA-811146812278446/" class="contacts-link">NY Style Deli and Pizza by Mansi - Woodstock, GA</a><br><br>
            Hours: Tuesday-Saturday 11am-9pm, Sunday 11am-8pm, Closed Mondays
        </p1>
    </div>
    <div class="col-lg-6 col-sm-12 text-center map">

        <div class="gmap_canvas">
            <iframe width="600" height="600" id="gmap_canvas" src="https://maps.google.com/maps?q=pizza%20by%20mansi&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
            </iframe>
        </div>
    </div>
</div>