@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


        <div class="row">
            <!--
                <img src="~/Images/pizza.jpeg" class="background-pizza"/>
            -->
            <div class="text-center col-xl-12">
                <h1 class="text-theme">
                    Looking for an authentic, quality New York style meal?
                </h1>
                <p1 class="text-theme">
                    You have come to the right place! <br>
                    NY Style Deli &amp; Pizza by Mansi is a neighborhood restaurant right in the heart of Towne Lake that serves delicious pizza, sandwiches and more– unlike anyone else in the area. <br>
                    Stop in or call in a delivery and experience the difference for yourself!
                    <br>
                    <br>
                    - We Deliver within a 5 mile radius for $2 ($20 min. order)
                    <br>
                    <br>
                    - Tuesday-Saturday 11am-9pm, Sunday 11am-8pm, Closed Mondays
                </p1>

            </div>

        </div>

