@page
@model PizzaByMansi.Pages.PizzaModel
@{
}


<div class="text-center justify-content-center">
    <p1 class="bit-of-spice">
        PIZZA
    </p1>
    <h2 class="menu-subtitle">
        PIZZA BY THE SLICE <br>
    </h2>
    <table class="menu-table menu-description">
        <tbody>
            <tr>
                <td class="table1">
                    Cheese
                </td>
                <td class="table1">
                    2.39
                </td>
            </tr>
            <tr>
                <td class="table1">
                    Extra Toppings
                </td>
                <td class="table1">
                    .75
                </td>
            </tr>
            <tr>
                <td class="table1">
                    Specialty Slice
                </td>
                <td class="table1">
                    4.69
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="menu-subtitle">
        PIZZA BY THE PIE
    </h2>
    <table class="menu-table menu-description">
        <tbody>
            <tr>
                <td class="table2">
                </td>
                <td class="table2">
                    14"
                </td>
                <td class="table2">
                    16"
                </td>
            </tr>
            <tr>
                <td class="table2">
                    Cheese
                </td>
                <td class="table2">
                    11.49
                </td>
                <td class="table2">
                    12.49
                </td>
            </tr>
            <tr>
                <td class="table2">
                    Specialty
                </td>
                <td class="table2">
                    16.29
                </td>
                <td class="table2">
                    18.29
                </td>
            </tr>
            <tr>
                <td class="table2">
                    Extra Toppings
                </td>
                <td class="table2">
                    1.75
                </td>
                <td class="table2">
                    1.95
                </td>
            </tr>
        </tbody>
    </table>
    <p1 class="menu-description">
        <br> <br>
        Gluten Free 8" Cheese Pizza - 7.59 + .75 For Additional Toppings <br>
        Cauliflower 10" Cheese Pizza - 10.99 + .75 For Additional Toppings
    </p1>
    <div>
        <h2 class="menu-subtitle">
            PIZZA TOPPINGS
        </h2>
        <hr>
        <div class="row justify-content-center">
            <div class="col-4">
                <p1 class="option">
                    Mozzarella <br>
                    Pepperoni <br>
                    Anchovies <br>
                    Mushroom <br>
                    Pineapple <br>
                    Eggplant <br>
                    Broccoli <br>
                    Spinach <br>
                    Bacon
                </p1>
            </div>
            <div class="col-4">
                <p1 class="option">
                    Banana Peppers <br>
                    Ricotta Cheese <br>
                    Green Peppers <br>
                    Green Olives <br>
                    Black Olives <br>
                    Feta Cheese <br>
                    Tomatoes <br>
                </p1>
            </div>
            <div class="col-4">
                <p1 class="option">
                    Fresh Basil <br>
                    Artichokes <br>
                    Pulled Pork <br>
                    Meatballs <br>
                    Jalapenos <br>
                    Sausage <br>
                    Chicken <br>
                    Onions <br>
                    Ham <br>
                </p1>
            </div>
        </div>
    </div>

</div>
<div class="text-center">
    <hr>
    <h2 class="menu-subtitle">
        Specialty Pies
    </h2>
    <p1 class="menu-item">
        The Hog Wild
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Pulled Pork, BBQ Sauce, Red Onion <br>
    </p1>
    <p1 class="menu-item">
        Chicken and Broccoli Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (White) Strips of Grilled Chicken Breast, Broccoli, Fresh Garlic and Basil <br>
    </p1>
    <p1 class="menu-item">
        Veggie Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (White) Broccoli, Spinach, Tomato, Fresh Garlic and Basil, Ricotta Cheese<br>
    </p1>
    <p1 class="menu-item">
        Supreme Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (Red) Sausage, Mushroom, Onion, Green Pepper, Pepperoni<br>
    </p1>
    <p1 class="menu-item">
        Greek Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (White) Artichokes, Spinach, Black Olives, Fresh Garlic and Basil, Feta Cheese<br>
    </p1>
    <p1 class="menu-item">
        Meat Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (Red) Ham, Salami, Sausage, Pepperoni<br>
    </p1>
    <p1 class="menu-item">
        Sicilian Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (Red) Deep Dish - Choice of Toppings<br>
    </p1>
    <p1 class="menu-item">
        Margherita Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (Red) Fresh Basil, Sliced Mozzarella, and Parmesan Cheese<br>
    </p1>
    <p1 class="menu-item">
        Buffalo Chicken Pizza
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (White) Boneless Breaded Chicken, Ranch and Bleu Cheese Dressing, Mild Sauce, Fresh Garlic and Basil<br>
    </p1>
    <p1 class="menu-item">
        Meatball
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (Red) Metaballs, Pepperoni, Sweet Onion, Banana Peppers, Mozzarella Cheese<br>
    </p1>
    <p1 class="menu-item">
        Philly Cheesesteak
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        (Red and White<!--lol pink?-->) Steak, Onion, Green Peppers, Mushrooms<br>
    </p1>
</div>