@page
@model PizzaByMansi.Pages.SaladSideModel
@{
}

<div class="text-center">
    <p1 class="bit-of-spice">
        Salads
    </p1>
    <hr>
    <p1 class="menu-item">
        Mixed Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Lettuce, Tomato, Cucumber, Onion, Black Olives and Green Peppers - 5.50<br>
    </p1>
    <p1 class="menu-item">
        Chef Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Turkey, Ham and Provolone Cheese on Lettuce, Tomatoes, Cucumber and Onions - 6.99<br>
    </p1>
    <p1 class="menu-item">
        Grilled Chicken Caesar Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Grilled Chicken, Parmesan Cheese, Croutons, Olives and Lettuce - 6.99<br>
    </p1>
    <p1 class="menu-item">
        Buffalo Chicken Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Breaded Buffalo Chicken, Lettuce, Tomato, Cucumber, Onion, Black Olives, Green Peppers and Bleu Cheese - 6.99<br><br>
    </p1>
    <div class="built">
        <p1 class="menu-item">
            Dressings<br>
        </p1>
        <p1 class="menu-description">
            French, Bleu Cheese, House, Ranch, Italian and Caesar (Extra Dressing 75¢)
        </p1>
    </div>

    <p1 class="menu-subtitle">
        SOUPS AND SIDES<br>
    </p1>
    <p1 class="menu-item">
        Mug of Soup
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        3.89<br>
        Ask Whats Cooking
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Something New and Different Everyday! <br><br>
    </p1>
    <p1 class="menu-item">
        Side Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        3.59<br>
    </p1>
    <p1 class="menu-item">
        Potato Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        3.59<br>
    </p1>
    <p1 class="menu-item">
        Macaroni Salad
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        3.59<br>
    </p1>
    <p1 class="menu-item">
        Garlic Knots
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Dozen
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        5.89<br>
    </p1>
    <p1 class="menu-item">
        Kettle Chips
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        10 Different Flavors
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        99¢<br>
    </p1>

    <p1 class="menu-subtitle">
        Stromboli<br>
    </p1>
    <p1 class="menu-item">
        Steak and Cheese
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        9.95<br>
    </p1>
    <p1 class="menu-item">
        Veggie
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        9.95<br>
    </p1>
    <p1 class="menu-item">
        Italian
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        9.95<br>
    </p1>
    <p1 class="menu-item">
        Calzone
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        8.95<br><br>
    </p1>
    <p1 class="menu-description">
        Extra Sauce - 1.50 <br><br>
    </p1>
    <p1 class="menu-subtitle">
        Desserts<br>
    </p1>
    <p1 class="menu-item">
        Cheesecake
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Variety of Choices
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        5.95<br>
    </p1>
    <p1 class="menu-item">
        Cake
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Variety of Choices
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        5.95<br>
    </p1>
    <p1 class="menu-item">
        Cannoli
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        2.50<br>
    </p1>
    <p1 class="menu-item">
        Cookies
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        75¢<br><br>
    </p1>
    <p1 class="menu-subtitle">
        Drinks<br>
    </p1>
    <p1 class="menu-item">
        20 oz. Fountain Coke Products
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        2.29<br>
    </p1>
    <p1 class="menu-item">
        Ice Tea
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        2.29<br>
    </p1>
    <p1 class="menu-item">
        Bottled Dasani Water
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        1.69<br>
    </p1>
    <p1 class="menu-item">
        2 Liter Coke Products
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        2.39<br>
    </p1>
    <p1 class="menu-item">
        Minute Maid Juice
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        1.29<br><br>
    </p1>
    <p1 class="menu-subtitle">
        COMBO SPECIALS
    </p1>
    <hr>
    <p1 class="menu-subtitle">
        SPECIALTY SLICE WITH FOUNTAIN DRINK - 4.69<br>
    </p1>
    <p1 class="menu-subtitle">
        HALF SANDWICH WITH SOUP OR SALAD - 8.09<br>
    </p1>
    <p1 class="menu-subtitle">
        2 LARGE 1-TOPPING PIZZAS WITH 2 LITER - 24.99<br>
    </p1>
</div>