@page
@model PizzaByMansi.Pages.SandwichesModel
@{
}

<div class="text-center">
    <div>
        <p1 class="bit-of-spice">
            SPECIALTY SANDWICHES 8.19 <br>
        </p1>
        <p1 class="menu-description">
            *available as a wrap*
        </p1>
    </div>
    <hr>
    <h2 class="menu-subtitle">
        THE ORIGINALS
    </h2>
    <p1 class="menu-item">
        The Palermo
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Roast Beef, Melted Jack Cheese and Roasted Red Pepper Sauce on a Ciabatta Roll <br>
    </p1>
    <p1 class="menu-item">
        The Rick
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Hot Turkey, Hot Pastrami with Swiss Cheese and Dijon on Wheatberry <br>
    </p1>
    <p1 class="menu-item">
        The New Yorker
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Corned Beef, Pastrami with Swiss cheese and Mustard on Rye<br>
    </p1>
    <p1 class="menu-item">
        The Clarkie
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Roast Beef with American Cheese, Sautéed Onions, Peppers and Mushrooms and Mayo or Mustard on a Ciabatta Roll<br>
    </p1>
    <p1 class="menu-item">
        The Geno
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Meatballs, Pepperoni, Mozzarella Cheese on Sub Roll<br>
    </p1>
    <p1 class="menu-item">
        Philly Cheesesteak
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Steak, Onions, Peppers on Sub Roll<br>
    </p1>
    <p1 class="menu-item">
        Chicken Cheesesteak
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Chicken, Onions, Peppers on Sub Roll<br>
    </p1>
    <p1 class="menu-item">
        Chicken Parmesan
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Breaded Chicken Breast, Marinara Sauce, and Cheese on Sub Roll<br>
    </p1>
    <p1 class="menu-item">
        Gyro
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Shaved Beef and Lamb Mixed, Lettuce, Tomato, Pickles, Tzakiki Sauce on a Warm Pita<br>
    </p1>
    <p1 class="menu-item">
        The Alex
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Turkey, Swiss, Avocado, Hummus Spread, Lettuce, Tomato, and Olive Oil on a Ciabatta Roll<br>
    </p1>
    <p1 class="menu-item">
        The Genoa
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Pastrami, Salami, Ham, Provolone, Sun-Dried Tomatoes and Pesto on a Ciabatta Roll<br>
    </p1>
    <p1 class="menu-item">
        The Veggie
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Olives, Cucumber, Banana Peppers, Lettuce, Tomatoes, Shaved Onions, with Oil or Mayo on a Ciabatta Roll<br>
    </p1>
    <p1 class="menu-item">
        The Danny Boy
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Roast Beef, Salami with Swiss Cheese, Lettuce, Tomato, Mayo and Roasted Red Pepper Sauce on a Ciabatta Roll<br>
    </p1>
    <p1 class="menu-item">
        The Mandy
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Roast Beef, Ham, Turkey with Swiss Cheese, Lettuce, Tomato, Onion and Honey Mustard on a Ciabatta Roll<br>
    </p1>
    <p1 class="menu-item">
        The Jaya
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Turkey, Ham, with Pepper Jack Cheese, Lettuce, Tomato, Mayo and Italian Dressing on Wheatberry<br>
    </p1>
    <p1 class="menu-item">
        The Gaga
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Turkey, Pastrami, Ham with American Cheese, Lettuce, Tomato, Mayo and Mustard on Wheatberry<br>
    </p1>
    <p1 class="menu-item">
        The Tracy
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Turkey with Pepper Jack Cheese, Lettuce, Tomato, Cranberry Mayo on Wheatberry - with a Large Side of Sarcasm<br>
    </p1>
    <p1 class="menu-item">
        Hey Jude
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Roast Beef, Turkey, Pepper Jack Cheese, Banana Peppers, Lettuce, Tomato, Oil/Vinegar on a Ciabatta<br>
    </p1>
    <p1 class="menu-item">
        The Gotti
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Salami, Pepperoni, Ham, Provolone Cheese, Jalapenos, Roasted Red Pepper Sauce on a Ciabatta<br>
    </p1>
    <p1 class="menu-item">
        The Sammy
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Roast Beef, Muenster Cheese, Lettuce, Tomato, Oil/Vinegar, on a Sub Roll<br>
    </p1>
    <p1 class="menu-item">
        The Wendy
    </p1>
    <p1 class="touch-of-spice">
        -
    </p1>
    <p1 class="menu-description">
        Tuna Salad, Provolone, Toasted with Lettuce, Tomato, and Oil on a Ciabatta Roll<br>
    </p1>
</div>
<div class="text-center justify-content-center">
    <p1 class="menu-description">
        All Sandwiches - Extra Meat $2 * Extra Cheese 75¢ <br> <br>
    </p1>
</div>
<div>
    <div class="promo">
        <h2 class="menu-subtitle">
            COMBO SPECIAL
        </h2>
        <h2 class="menu-subtitle">
            SANDWICH, FOUNTAIN DRINK AND CHIPS - 9.89
        </h2>
    </div>
</div>
<div class="text-center">
    <p1 class="bit-of-spice">
        BUILD YOUR OWN SANDWICH <br>
    </p1>
    <p1 class="menu-description">
        Choose Your Favorite Bread, Meat, Cheese, Veggies and Dressing - 8.19
    </p1>
    <hr>
    <div>
        <p1 class="menu-item">
            Bread<br>
        </p1>
        <p1 class="menu-description">
            10" Sub - Ciabatta Roll - Wheatberry Bread - Marble Rye - Gluten Free Bread
        </p1>
    </div>
    <div>
        <p1 class="menu-item">
            Meat<br>
        </p1>
        <p1 class="menu-description">
            Roast Beef - Turkey - Ham - Salami - Pastrami - Corned Beef
        </p1>
    </div>
    <div>
        <p1 class="menu-item">
            Cheese<br>
        </p1>
        <p1 class="menu-description">
            American - Swiss - Provolone - Pepperjack - Muenster
        </p1>
    </div>
    <div>
        <p1 class="menu-item">
            Veggies<br>
        </p1>
        <p1 class="menu-description">
            Lettuce - Tomato - White Onion - Red Onion - Cucumber - Black Olives - Green Olives - Banana Peppers - Jalepenos
        </p1>
    </div>
    <div>
        <p1 class="menu-item">
            Dressings<br>
        </p1>
        <p1 class="menu-description">
            Mayo - Oil - Vinegar - Roasted Red Pepper Sauce - Basil Pesto - Yellow Mustard - Dijon Mustard - Italian Dressing
        </p1>
    </div>
</div>

        